* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;

 font-family: arial;
}



/*Nav Bar*/
nav {
  height: 50px;
  background-color: #8c7ce2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  font-family: arial;
  z-index: 2;
}
nav a {
  text-decoration: none;
  color: #fff;
}

nav img{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
footer {
    background-color: #8c7ce2;
    width: 100%;
    height: 50px;
    align-content: center;
    justify-items: center;
}
footer p{
    color: white;
}

/*Home Page*/
.content {
    padding-top: 40px;
    margin: 0 auto;
    background: linear-gradient(to right, rgb(155, 138, 255), rgb(221, 143, 255));
    background-color: rgb(76, 211, 211);
    height: 115%;
    width: 100%;
}
.content h1{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
}

.hero {
    background: linear-gradient(to right, rgba(82, 65, 180, 0.494), rgba(142, 59, 178, 0.489));
    height: 400px;
    justify-self: center;
}

.hero img{
    object-fit: scale-down;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.content button{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 25%;
    height: 40px;
    border-radius: 100px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 16px;
    color: rgb(129, 59, 182);
}

.content button a{
    text-decoration: none;
}

.chart{
    justify-self: center;
    padding-top: 100px;
    padding-bottom: 105px;
    height: 100%;
}

.chart img{
    margin-top: -75px;
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.chart a{
    align-content: center;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 25%;
    height: 40px;
    border-radius: 100px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 16px;
    color: rgb(129, 59, 182);
}

@keyframes wiggle {
  0% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(-10px);
  }
}

.homeImages {
    margin: 0 auto;
    background: linear-gradient(to right, rgb(83, 65, 180), rgb(142, 59, 178));
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    border-radius: 50px;
}

.homeImages > div{
    background-color: rgb(212, 38, 212);
    width: 200px;
    height: 200px;
    border-radius: 125px;   
}

.homeImages > div img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-left: 15px;
}

.homeImages > div:hover{
    animation: wiggle 1s;
}

.spacer{
    margin: 0 auto;
    width: 75%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
}

.about{
    margin: 0 auto;
    padding-top: 75px;
    margin-bottom: 30px;
    width: auto;
    height: 100%;
}

.aboutImageOne{
    justify-content: center;
    margin-bottom: 20px;
}

.aboutImageOne img{
    overflow: hidden;
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
}

.aboutImageTwo{
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 20px;
}

.aboutImageTwo img{
    overflow: hidden;
    width: 30%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
}

.aboutTextOne{
    /*background-color: blue;*/
    margin: 0 auto;
    width: 300px;
    font-family: arial;
    text-align: center;
}

.aboutTextTwo{
    margin: 0 auto;
    width: 300px;
    font-family: arial;
    text-align: center;
}

.aboutTextOne h1{
   color:rgb(155, 138, 255)
}

.aboutTextTwo h1{
    color:rgb(202, 138, 255)
}

.aboutBody{
    height: 210%;
}

@media (max-width: 600px) {
    .aboutBody{
        height: 115%;
    }
}

@media (max-width: 600px) {
    .sticker{
        display: none;
    }
    
}

@media (max-width: 600px) {
    .homeImages > div{
        width: 100px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .hero{
        height: 30%;
    }

.contactBox{
    background: linear-gradient(to right, rgb(155, 138, 255), rgb(221, 143, 255));
    width: 100%;
    height: 100%;
    padding-top: 75px;
    justify-self: center;
    display: block;
}

.contactBox h1{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
}

.contactBox form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    color: white;
    padding-top: 40px;
}

.contactBox form input{
    width: 40%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 100px;
    border: none;
    padding-left: 10px;
}

.contactBox form label{
    padding-bottom: 10px;
}

.contactBox form button{
    margin-top: 60px;
    width: 25%;
    height: 40px;
    border-radius: 100px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 16px;
    color: rgb(129, 59, 182);
}

.contactBox textarea{
    width: 50%;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    padding: 10px;
}
#contactText{
    color: white;
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
    width: 35%;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.sticker > div{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    animation: appear 2s;
}

.sticker > div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-left: 15px;
}

.sticker > div:hover{
    transform: scale(1.1);
}

.stickerOne{
    top: 10vh; left: 12vw;
    transform: rotate(15deg);
}

.stickerTwo{
    top: 35vh; left: 78vw;
    transform: rotate(-15deg);
}

.stickerThree{
    top: 70vh; left: 12vw;
    transform: rotate(15deg);
}